<!DOCTYPE html>
<html>

<head>
<title>Signup</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Signup</h2>

<form action="/signup" method="POST">

<label>Username</label><br>
<input type="text" name="username"><br><br>

<label>Password</label><br>
<input type="password" name="password"><br><br>

<button type="submit">Signup</button>

</form>

<br>

<a href="/">Back to Login</a>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>